<%= form_for(@archyve) do |f| %>
  <% if @archyve.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@archyve.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @archyve.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.datetime_field :date, :required => true %>
  </div>
  <div class="field">
    <%= f.label :restaurant_id %><br>
    <%= f.text_field :restaurant_id %>
  </div>
  <div class="field">
    <%= f.label :caller %><br>
    <%= f.text_field :caller, :required => false %>
  </div>
  <div>
    <%= f.label :food_time %><br/>
    <%= f.datetime_field :food_time, :required => true %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
