<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @archyve.id %>
</p>
<p>
  <strong>Date:</strong>
  <%= @archyve.date %>
</p>
<p>
  <strong>Winner restaurant:</strong>
  <%= @archyve.restaurant_id %>
</p>
<p>
  <strong>Food time:</strong>
  <%= @archyve.food_time %>
</p>

<%= link_to 'Edit', edit_archyfe_path(@archyve) %> |
<%= link_to 'Back', archyves_path %>
