<div id="admin_panel">
  <table style="text-align:center;">
    <thead>
      <tr>
        <th>Id</th>
        <th>Date</th>
        <th>Winner restaurant</th>
        <th>Food time (s)</th>
        <th>Caller id</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @archyves.each do |archyve| %>
        <tr>
          <td><%= archyve.id %></td>
          <td><%= archyve.date %></td>
          <td><%= @restaurants.select{ |d| d[:id] == archyve.restaurant_id }.first.try(:name) %></td>
          <td><%= archyve.food_time %></td>
          <td><%= @users.select{ |d| d[:id] == archyve.caller }.first.try(:name) %></td>
          <td><%= link_to 'Show', archyve %></td>
          <td><%= link_to 'Edit', edit_archyfe_path(archyve) %></td>
          <td><%= link_to 'Destroy', archyve, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <hr />
  <div class="rounds_holder">
    <table>
      <tr>
        <td>Archyves ID</td>    
        <td>Voted for</td>
        <td>Food</td>
        <td>User id</td>
        <td></td>
      </tr>
      <% @userarchyves.each do |single_userarchyve| %>
        <tr>
          <td><%= single_userarchyve.archyves_id %></td>
          <td><%= @restaurants.select{ |d| d[:id] == single_userarchyve.voted_for }.first.try(:name) %></td>
          <td><%= single_userarchyve.food %></td>
          <td><%= @users.select{ |d| d[:id] == single_userarchyve.user_id }.first.try(:name) %></td>
          <td><a href="archyve/u/<%= single_userarchyve.id %>">X</a></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>