<div id="restaurants_holder">
	<p>  
		Pradeti sesija: 
    <%= form_tag("start", method: "start") do %>
      <%= label_tag(:time, "Balsavimo laikas sekundemis:") %>
      <%= text_field_tag(:time, 1200) %>
      <%= label_tag(:foodtime, "Maisto rinkimosi laikas sekundemis:") %>
      <%= text_field_tag(:foodtime, 1200) %>
      <%= submit_tag("Start") %>
    <% end %> 

    <!--<a href="start"><button><span>Start</span></button></a> -->
		<% if !@archyve.nil? && @archyve.date > Time.now %><span style="color:red;">Sesija aktyvi</span><% end %>
	</p>
	<hr />
  

  <hr />
  <div class="admin_user_holder" style="border:1px solid #ccc;">
  	Prideti nauja vartotoja: <a href="users/new"><button><span>New User</span></button></a>
  	<table style="text-align:center;">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Food</th>
        </tr>
      </thead>
      <tbody style="text-align:center;">
        <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.name %></td>
    			  <td><%= user.food %></td>
            <td><%= link_to 'Edit', edit_user_path(user) %></td>
            <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <hr />
  <div class="admin_user_holder" style="border:1px solid #ccc;">
    Prideti nauja restorana: <a href="restaurants/new"><button><span>New Restaurant</span></button></a>
    <table style="text-align:center;">
      <thead>
        <tr>
          <th>Name</th>
          <th>About</th>
          <th>Votes</th>
          <th>Waslast</th>
          <th>Lastused</th>
          <th>Phone</th>
          <th></th>
          <th></th>
          <th></th> 
        </tr>
      </thead>

      <tbody>
        <% @restaurants.each do |restaurant| %>
          <tr>
            <td><%= restaurant.name %></td>
            <td><%= restaurant.about %></td>
            <td><%= restaurant.votes %></td>
            <td><%= restaurant.phone %></td>
            <td><%= link_to 'Show', restaurant %></td>
            <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
            <td><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <hr />
  <table style="text-align:center;">
  <thead>
    <tr>
      <th>Id</th>
      <th>Date</th>
      <th>Winner restaurant</th>
      <th>Food time (s)</th>
      <th>Caller id</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @archyves.each do |archyve| %>
      <tr>
        <td><%= archyve.id %></td>
        <td><%= archyve.date %></td>
        <td><%= archyve.restaurant_id %></td>
        <td><%= archyve.food_time %></td>
        <td><%= archyve.caller %></td>
        <td><%= link_to 'Show', archyve %></td>
        <td><%= link_to 'Edit', edit_archyfe_path(archyve) %></td>
        <td><%= link_to 'Destroy', archyve, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
  </table>
  <hr />
  <div>
    <% @userarchyves.each do |single_userarchyve| %>
      <div class="rounds_holder">
        Archyves ID: <%= single_userarchyve.archyves_id %>
        Voted for: <%= single_userarchyve.voted_for %>
        Food: <%= single_userarchyve.food %>
        User id: <%= single_userarchyve.user_id %>
        <a href="archyve/u/<%= single_userarchyve.id %>">Trinti</a>
      </div>
    <% end %>
  </div>
</div>