<p id="notice"><%= notice %></p>

<p>
  <strong>Start:</strong>
  <%= @timecontroll.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @timecontroll.end %>
</p>

<p>
  <strong>Gap:</strong>
  <%= @timecontroll.gap %>
</p>

<%= link_to 'Edit', edit_timecontroll_path(@timecontroll) %> |
<%= link_to 'Back', timecontrolls_path %>
