<!DOCTYPE html>
<html>
<head>
  <title>FoodApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if signed_in? %>
  <%= link_to "Log in", log_in_path %>
<% else %>
  <%= link_to "Log out", log_out_path %> | 
  <a href="changepass"><%= @current_user.name %></a>
<% end %>
<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>
<%= yield %>
</body>
</html>
